@model GerenciadorInventario.WEB.ViewModels.ProdutoListVm
@{
    ViewData["Title"] = "Produtos";
}
<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <div>
            <button id="btnAddProduto" class="btn btn-primary">
                <i class="fa-solid fa-plus me-1"></i> Adicionar
            </button>
        </div>
        <div class="input-group" style="max-width: 380px;">
            <input id="txtFiltroProduto" type="text" class="form-control" placeholder="Filtrar por nome..." />
            <button id="btnFiltrarProduto" class="btn btn-outline-secondary"><i class="fa-solid fa-search"></i></button>
        </div>
    </div>

    <div id="produtoTableContainer"></div>
</div>

@section Scripts {
    <script src="~/js/ui.js" asp-append-version="true"></script>
    <script src="~/js/domain/produto.js" asp-append-version="true"></script>
    <script>
        window.ProdutoPage.init();
    </script>
}
