@model GerenciadorInventario.WEB.ViewModels.ProdutoListVm
@{
    ViewData["Title"] = "Produtos";
}
<div class="container-fluid d-flex flex-column" style="min-height: calc(100vh - 72px);">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <div>
            <button id="btnAddProduto" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="Adicionar novo produto" data-bs-placement="bottom">
                <i class="fa-solid fa-plus me-1"></i> Adicionar
            </button>
        </div>
        <div class="input-group" style="max-width: 380px;">
            <input id="txtFiltroProduto" type="text" class="form-control" placeholder="Digite o filtro." />
            <button id="btnFiltrarProduto" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Aplicar filtro" data-bs-placement="bottom"><i class="fa-solid fa-search"></i></button>
        </div>
    </div>

    <div id="produtoTableContainer" class="flex-grow-1 d-flex flex-column"></div>
</div>

@section Scripts {
    <script src="~/js/ui.js" asp-append-version="true"></script>
    <script src="~/js/domain/produto.js" asp-append-version="true"></script>
    <script>
        window.ProdutoPage.init();
    </script>
}
