@model GerenciadorInventario.WEB.ViewModels.EstoqueDetalheVm
<div class="container-fluid">
    <dl class="row">
        <dt class="col-sm-3">Produto</dt>
        <dd class="col-sm-9">@Model.ProdutoNome (@Model.ProdutoId)</dd>
        <dt class="col-sm-3">Quantidade</dt>
        <dd class="col-sm-9">@Model.Quantidade</dd>
    </dl>
</div>
<div class="d-flex justify-content-end">
    <button class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
</div>
