@model GerenciadorInventario.WEB.ViewModels.EstoqueVm
@{
    ViewData["Title"] = "Estoque";
}
<div class="container-fluid d-flex flex-column" style="min-height: calc(100vh - 72px);">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <div>
            <button id="btnMovEntrada" class="btn btn-success me-2" data-bs-toggle="tooltip" data-bs-title="Registrar entrada de estoque"><i class="fa-solid fa-plus me-1"></i> Entrada</button>
            <button id="btnMovSaida" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-title="Registrar saída de estoque"><i class="fa-solid fa-minus me-1"></i> Saída</button>
        </div>
        <div class="input-group" style="max-width: 380px;">
            <input id="txtFiltroEstoque" type="number" class="form-control" placeholder="Filtrar por ProdutoId..." />
            <button id="btnFiltrarEstoque" class="btn btn-outline-secondary" data-bs-toggle="tooltip" data-bs-title="Aplicar filtro"><i class="fa-solid fa-search"></i></button>
        </div>
    </div>
    <div id="estoqueTableContainer" class="flex-grow-1 d-flex flex-column"></div>
</div>

@section Scripts {
    <script src="~/js/ui.js" asp-append-version="true"></script>
    <script src="~/js/domain/estoque.js" asp-append-version="true"></script>
    <script>
        window.EstoquePage.init();
    </script>
}
