@model (string title, string message, string style, string confirmText, string cancelText)
<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">@Model.title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="lead">@Model.message</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Model.cancelText</button>
        <button type="button" class="btn btn-@Model.style" id="confirmOk">@Model.confirmText</button>
      </div>
    </div>
  </div>
</div>
