@model GerenciadorInventario.WEB.ViewModels.PedidoEditVm

<div id="pedidoEditor" class="container-fluid">
    <div class="alert alert-info">Criação de pedido: selecione os produtos e quantidades. O preço unitário será aplicado conforme o produto.</div>
    <form id="pedidoForm">
        <div class="table-responsive">
            <table class="table align-middle" id="itensTable">
                <thead>
                    <tr>
                        <th style="width:45%">Produto</th>
                        <th style="width:15%" class="text-end">Quantidade</th>
                        <th style="width:20%" class="text-end">Preço Unitário</th>
                        <th style="width:20%" class="text-end">Subtotal</th>
                        <th style="width:1%"></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-end fw-bold">Total</td>
                        <td class="text-end fw-bold" id="totalGeral">R$ 0,00</td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <button class="btn btn-outline-primary btn-sm" type="button" id="btnAddItem"><i class="fa-solid fa-plus"></i> Adicionar Item</button>
    </form>
    <script type="application/json" id="pedidoProdutosData">@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.Produtos))</script>
</div>
<div class="d-flex justify-content-end gap-2 mt-3">
    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button id="btnSalvarPedido" class="btn btn-primary"><i class="fa-solid fa-save me-1"></i>Salvar</button>
</div>
<script src="~/js/pedido.editar.js" asp-append-version="true"></script>
